* {
  margin: 0;
  padding: 0; }

.contenedorGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.2fr 3.1fr 0.3fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logoGrid" "menuGrid" "mainGrid" "footerGrid";
  align-content: space-between; }
  .contenedorGrid .logoGrid {
    grid-area: logoGrid; }
    .contenedorGrid .logoGrid img {
      width: 50%;
      height: auto; }
  .contenedorGrid .menuGrid {
    grid-area: menuGrid; }
    .contenedorGrid .menuGrid nav {
      background-color: transparent !important; }
      .contenedorGrid .menuGrid nav button {
        background-color: white; }
  .contenedorGrid .mainGrid {
    grid-area: mainGrid;
    margin-bottom: 34px;
    padding: 20px; }

.footerGrid {
  grid-area: footerGrid;
  margin-top: 20px;
  position: relative; }
  .footerGrid p {
    align-self: center; }

.intro {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; }
  .intro img {
    width: 30%;
    padding: 20px; }

header {
  position: sticky;
  top: 0; }
  header img {
    width: 100%; }

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .menu li {
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
    font-size: 25px;
    border: 1px solid rgba(255, 255, 255, 0.664);
    background-color: #03596f; }
    .menu li:first-child {
      border-radius: 15px 0px 0px 15px; }
    .menu li:last-child {
      border-radius: 0px 15px 15px 0px; }
    .menu li:hover ul {
      display: block; }
    .menu li a {
      list-style: none;
      text-decoration: none;
      color: #ffffff !important; }

.submenu {
  display: none;
  position: absolute;
  margin-top: 6px;
  margin-left: 20px;
  z-index: 100; }
  .submenu li {
    display: block;
    border-radius: 0px !important; }

#contenedor {
  min-height: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px; }
  #contenedor p {
    padding: 30px;
    line-height: 25px; }

body {
  background-image: url("../Multimedia/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden; }

footer {
  bottom: 0px;
  background-color: #03596f;
  padding-top: 10px; }
  footer img {
    width: 50px;
    margin: 5px; }

.footer_title {
  text-align: center;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace; }

.footer_copy {
  background-color: black;
  color: #ffffff;
  padding: 5px;
  margin-top: 10px;
  align-self: center;
  text-align: center;
  width: 100%; }

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center; }
