.personajes a:hover {
    @include flexBox(flex, row);
    margin-top: 25px;
    color: black;
}

.personajes a:hover .personaje img {
    margin-top: 25px;
}

/*personajes*/
.elementos {
    @include flexBox(flex, column);

    a {
        text-decoration: none;
    }
}

.elemento {
    @include flexBox(flex, row);
    border-radius: 10px;

    img {
        height: 60px;
        width: 60px;
        align-self: center;
        margin-left: 15px;
    }

    h3 {
        margin-left: 25px;
        font-size: 3em;
    }

}

.hydro {
    background-color: #05e4fd1f;
}

.cryo {
    background-color: #9eeff321;
}


.pyro {
    background-color: #fba36963;
}

.anemo {
    background-color: #a7f4cd63;
}


.geo {
    background-color: #f6da6266;
}

.electro {
    background-color: #dfbbfd5c;
}


/* Hydro */

.personajes {
    @include flexBox(flex, row);
    flex-flow: wrap;
    justify-content: center;

    a {
        text-decoration: none;
    }
}

.personaje {
    @include flexBox(flex, column);
    width: 150px;
    margin: 5px;
    height: 325px;
}

.personajeNombre h4 {
    text-align: center;
    padding: 5px;
    color: #ffffff;
}

.cincoEstrellas {
    background-color: #d0a028c2;
    border: 1px solid #d0a028c2;
    border-radius: 10px;
}

.cuatroEstrellas {
    background-color: #7128d0bd;
    border: 1px solid #7128d0bd;
    border-radius: 10px;
}

.personajesDescripcion {
    @include flexBox(flex, column);
}

.personajeDescripcion {
    @include flexBox(flex, row);
}

.fullImgPj {
    @include flexBox(flex, column);
    width: 25%;
    padding: 10px;
    border-radius: 15px;

}

.fondoHydro {
    background-color: rgb(3, 229, 253);
}

.personajeDetalle {
    width: 75%;

    h3 {
        text-align: center;
    }
}

.habilidades {
    @include flexBox(flex, column);
}

.habilidad {
    @include flexBox(flex, column);

    details {
        summary {
            list-style: none;
        }
        li {
            margin-left: 10%;
        }
        p {
            margin: -2% 0%
        }
    }
}
