@mixin flexBox ($display, $direction){
    display: $display;
    flex-direction: $direction;
}

$elementos: (
    hydro: rgb(3, 229, 253),
    anemo: #59deb4,
    cryo: #9eeff3,
    electro: #d798fc,
    geo: #f6b631,
    pyro: rgb(245,56,56),
);

@each $elemento, $valor in $elementos {
    .#{$elemento}{
        color: $valor;
    }
}